<% include ./partials/header %>

<div id="mission-statement">
    <h2>Did you know Ireland is considered the Puppy Farm Capital of Europe?</h2>
    
    <h3>What is a puppy farm?</h3>
    
    <p>Puppy farm is a commercial dog breeding facility that is operated with an emphasis upon profits above animal welfare
    and is often in substandard conditions regarding the well-being of dogs in their care. Due to the frequently poor
    breeding conditions in puppy farms, puppies bred there often suffer from health and/or social problems. Puppies raised
    in a cramped environment shared by many other dogs become poorly socialized to other dogs and to humans. </p>
    
    <p>As the surviving dogs from puppy farms grow older, they are more prone to developing respiratory ailments and pneumonia,
    as well as hereditary defects such as hip dysplasia. In addition, they are more prone to have problems with their
    temperament. Puppies from such farms are usually sold as purebred dogs in an attempt to attract the higher prices
    associated with purebreds. However, due to the indiscriminate breeding practices of puppy farms, the dog may not
    actually be a purebred puppy. The vast majority of puppy farm animals are sold online through classifieds sites. They
    are sold by dealers masquerading as authentic breeders.. - "Rescue Animals Ireland.ie"</p>

    <p>To be exaxt in 2018, there was 11,559 dogs putting into a shelter or a pound because their 'Owner' didn't want them 
        no more. Most of these owners bought there dogs during the festive periods or bought a pure breed which was too much for
    them with health issues, Owner's who didn't bother to research the dog. </p>

    <p>916 Dogs were put to sleep because of shelters or pounds being overpopulated with older dogs. </p>
    <br>
    <h4>Cats</h4>
    <p>There are in excess of 200,000 feral cats across Ireland by some estimates. Feral cat overpopulation causes serious
    welfare concerns and distruption to local communities and ecosystems.</p>

    <h5>Why are there so many stray cats?</h5>
    
    <p>Many cats are left behind when their owners are no longer willing to look after them or have moved house. In some cases
    cats have been dumped, are lost, or sadly their owners have passed away. These cats are starving and scavenging in order
    to survive. Their offspring will be feral, meaning they have not had interaction with humans and are often afraid of us.
    If they are not spayed or neutered, stray cats and their offspring continue to multiply.</p>
    </br>

    <h1 class="display-4">- OUR GOAL -</h1>
    <h2>The best way to avoid a puppy farm is to adopt from a rescue or pound.</h2>
    <p>Right Now there is thousands of dogs sitting in shelters or pounds waiting for their Forever Home!</p>
    <br>
    <p>Look into shelter or pound adoption first</p>
    <p>All these pets just want a forever home</p>
    <p>Avoid Puppy Farms</p>
    <p>If you want to buy a pure bread - meet the mom, see the homes facilities and see the papers...if not, WALK AWAY!</p>

    
   
</div>


<% include ./partials/footer %>