<% include ./partials/header %>

<section class="newsletter">
<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-6">

            <h4>Have a query? Contact Us</h4>
            <p>Our Amazing Team are Waiting to help you</p>
            <p>We all share that common bond, helping the Pets!</p>
            <form class="newsletter" method="POST" action="MAILTO:x18155138@student.ncirl.ie" enctype="text/plain">
                <input type="email" class="form-control" placeholder="Enter your email" required>
                <button class="btn btn-lg btn-primary btn-block" type="submit" name="subscribe" value="signin">Sign
                    in</button>
            </form>
        </div>
        <div class="col-md-6 col-sm-6">
            <H4>Where to find Us?</H4>
            <h5>Our Location</h5>
            <p>Adopt a Pet
                <br>
                Department of Computing,
                <br>
                National College of Ireland,
                <br>
                Dublin, Ireland,
            </p>
            <H4>How to Reach Us?</H4>
            <h5>Our Contact Details</h5>
            <p>Phone: 086 123 4567
                <br>
                Email: AdoptAPet@hotmail.com
            </p>
        </div>
    </div>
</div>
</section>

<% include ./partials/footer %>