<% include ./partials/header %> 

<div class="container"></div>
    <form action="/register" method="POST" class="form-signin">
        <!-- username -->
        <label for="inputUsername" class="sr-only">Username</label>
        <input type="text" id="inputUsername" class="form-control" placeholder="Org Name or Personal Name" name="username" required>
        <!-- email  -->
        <input type="email" id="inputEmail" class="form-control" placeholder="Email" name="email" required>
        <!-- password  -->
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
        <p>Org - Upload Legal Documentation</p>
        <input type="file" id="inputImage" class="form-control" name="profileimage">
        <!-- submit  -->
        <button class="btn btn-lg btn-primary btn-block" type="submit" name="submit" , value="signup">Sign up</button>
    </form>
</div>
<% include ./partials/footer %> 


