<% include ../partials/header %> 

 <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1>Adopt A Pet</h1>
             <p>View out amazing pets waiting for a loving home</p>
             <p>
                <a class="btn btn-primary btn-large" href="/pets/new">Add a Pet</a>
             </p>
         </div>
     </header>
     
     <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% pets.forEach(function(pet){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                   <img src="<%= pet.image %>">
                   <div class="caption">
                       <h4><%= pet.name %></h4>
                        <h4><%= pet.location %></h4>
                   </div>
                   <p>
                       <a href="/pets/<%= pet._id %>" class="btn btn-primary">More Info</a>
                   </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>
